aniso8601==4.0.1
asn1crypto==0.24.0
boto3==1.9.47
botocore==1.12.47
cffi==1.11.5
Click==7.0
cryptography==2.3.1
dnspython==1.15.0
docutils==0.14
eventlet==0.24.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-RESTful==0.3.6
Flask-SocketIO==3.0.2
greenlet==0.4.15
idna==2.7
ItsDangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
monotonic==1.5
pycparser==2.19
PyJWT==1.6.4
pyOpenSSL==18.0.0
python-dateutil==2.7.5
python-engineio==2.3.2
python-socketio==2.0.0
pytz==2018.7
s3transfer==0.1.13
six==1.11.0
urllib3==1.24.1
Werkzeug==0.15.3
